html,
body {
    height: 100%;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* ЛЕНДИНГ */

@font-face {
    font-family: tinos;
    src: url(../fonts/tinos.ttf);
}

@font-face {
    font-family: tinos-italic;
    src: url(../fonts/tinos-italic.ttf);
}

@font-face {
    font-family: sans;
    src: url(../fonts/sans.ttf);
}

@font-face {
    font-family: sans;
    src: url(../fonts/sans-bold.ttf);
    font-weight: bold;
}

.landing {
    font-family: sans;
    font-size: 14px;
}

header {
    padding: 0 20px;
    margin-top: 30px;
    position: fixed;
    width: 100%;
    z-index: 10000;
}

.navbar {
    background: white;
    width: 100%;
    border-radius: 0;
    height: 71px;
    margin-bottom: 0;
}

.navbar-brand {
    padding: 10px;
    height: 70px;
}

.navbar-brand img {
    height: 100%;
}

.nav li a, .nav li a:visited, .nav li a:link, .nav li a:focus {
    color: #888;
    padding: 25px 20px;
    background: white;
}

.nav li a:hover {
    background: #f2f2f2;
    color: #333;
}

.nav li a.active {
    background: #068dde;
    color: white;
    position: relative;
    top: -5px;
    padding: 30px 20px;
}

.nav li a.btn-custom {
    background: #068dde;
    color: white;
    padding: 10px 30px;
    margin-top: 15px;
    margin-left: 20px;
}

.nav li a.btn-custom:hover {
    font-weight: 400;
}

.nav li a.btn-custom:focus {
    top: 0;
}

.info {
    padding-top: 7px;
    color: white;
    font-size: 11px;
    padding-bottom: 78px;
    background: #111111;
}

.info span.phone {
    margin-left: 20px;
}

.info img {
    margin-right: 7px;
}

.info a {
    color: white;
    cursor: pointer;
}

.info a:hover, .info a:focus {
    text-decoration: none;
}

.info a.active {
    font-weight: 700;
}

.home {
    padding: 0 30px 30px;
    background: #111111;
}

.home .carousel-control img {
    width: 30px;
    display: inline-block;
    position: absolute;
    top: 50%;
}

.home .carousel .item img {
    width: 100%;
}

.home .carousel .carousel-caption {
    bottom: 30%;
    text-shadow: none;
}

@media (max-width: 1201px) {
    .home .carousel .carousel-caption {
        bottom: 20%;
        text-shadow: none;
    }
}

.home .carousel .carousel-caption h1 {
    font-size: 50px;
}

@media (max-width: 1201px) {
    .home .carousel .carousel-caption h1 {
        font-size: 40px;
    }

    .home .carousel .carousel-caption h2 {
        font-size: 30px;
    }

    .home .carousel .carousel-caption h3 {
        font-size: 24px;
    }
}

.home .carousel .carousel-caption i {
    font-family: tinos;
}

.home .carousel .carousel-indicators {
    bottom: -32px;
}

.home .carousel .carousel-indicators li {
    margin: 0 10px;
    border-radius: 0;
    width: 5px;
    height: 5px;
    border: none;
    background: #333;
}

.home .carousel .carousel-indicators li.active {
    background: #068dde;
}

.advantages {
    background: #ebebeb;
}

.section-header, .section-sub-header {
    font-family: sans;
    color: #262626;
    text-align: center;
}

.section-header {
    padding: 100px 0 20px;
    font-size: 50px;
    margin: 0;
    font-weight: 700;
}

.section-sub-header {
    color: #616161;
    margin-bottom: 100px;
}
.advantages .info-background {
    width: 100%;
}

@media (max-width: 1201px) {
    .advantages .info-background {
        margin-top: 40px;
    }
}

.advantages .logo {
    width: 22%;
    position: absolute;
    top: 40%;
    margin-left: 38%;
}

@media (max-width: 1201px) {
    .advantages .logo {
        top: 48%;
    }
}

.advantages .infographics {
}

.advantages .infographics .advantage {
    min-height: 240px;
}

.advantages .infographics .advantage .number {
    color: #fc2715;
    font-size: 30px;
    display: inline-block;
    margin-top: 26px;
}

.advantages .infographics .advantage h4 {
    margin: 0 0 10px;
    color: #0084ce;
    font-weight: bold;
    font-size: 20px;
}

.advantages .infographics .advantage p {
    color: #555;
}

.functions .presentation {
    margin: 0 0 100px;
}

.functions .presentation .to-slide {
    cursor: pointer;
}

.functions .presentation>div {
    padding: 0;
}

.functions .slide {
    position: relative;
}

.functions .presentation .col-md-4 {
    height: 440px;
    position: relative;
}

@media (max-width: 1201px) {
    .functions .presentation .col-md-4 {
        height: 413px;
    }
}

.functions .presentation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 15px;
}

.functions .presentation .slimScrollRail {
    width: 1px!important;
    left: 4px!important;
}

.functions .presentation .slimScrollBar {
    border-radius: 0!important;
    background: #0084ce!important;
    opacity: 1!important;
}

.functions .presentation ul li {
    display: block;
    margin: 0;
    padding: 0;
    background: #ececec;
}

.functions .presentation ul li img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.6;
}


.functions .presentation ul li.active img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    opacity: 1;
}

.functions .presentation ul li:not(.active) {
    cursor: pointer;
}

.functions .presentation .slide-link {
    margin: 0;
    height: 110px;
}

.functions .presentation .slide-link .col-md-3 {
    padding: 0;
    text-align: center;
}

.functions .presentation .slide-link .col-md-9  h3 {
    margin: 10px 0;
    font-size: 23px;
}

.functions .presentation .slide-link .col-md-9 {
    padding: 0 40px 0 0;
}

@media (max-width: 1201px) {
    .functions .presentation .slide-link {
        height: 103px;
    }

    .functions .presentation .slide-link .col-md-9 {
        padding-right: 15px;
    }

    .functions .presentation .slide-link .col-md-9 h3 {
        font-size: 20px;
    }

    .functions .presentation .slide-link .col-md-9 p {
        font-size: 12px;
    }
}

.functions .presentation .slide-link .col-md-3 img {
    width: 50px;
    margin-top: 30px;
}

.functions .presentation ul li h3 {
    color: #282828;
    font-family: sans;
    font-weight: 700;
}

.functions .presentation ul li p {
    font-family: tinos-italic;
    color: #7d7d7d;
}

.functions .presentation ul li.active {
    background: #fff;
}

.functions .presentation ul li.active h3 {
    color: #2477c0;
}

.functions .slide {
    display: none;
    position: absolute;
}

.functions .slide.active {
    display: block;
}

.functions .slide img {
    width: 100%;
}

.functions .slide .capture {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    color: white;
    padding: 60px;
}

.functions .slide .capture i {
    color: #adcde5;
    font-size: 18px;
    position: absolute;
    right: 20px;
    top: 50%;
}

.functions .slide .capture h2 {
    margin: 0;
    font-weight: bold;
}

.functions .slide .capture h4 {
    font-family: tinos-italic;
    margin: 20px 0 0;
}

.functions .slide .capture  h4 b {
    font-family: sans;
}

.functions .slide .capture  p {
    font-size: 16px;
    margin: 20px 0 0;
}

.achievements {
    background: url('../img/achievement.jpg') no-repeat no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding-bottom: 70px;
}

.achievements h1 {
    padding: 30px 0;
    font-weight: 700;
    font-size: 50px;
}

.achievements h3 {
    font-family: tinos-italic;
    margin-bottom: 0;
}

.achievements p {
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 0;
}

.achievements h2 {
    margin: 0 0 10px;
    font-weight: 700;
}

.mobile-hr .task {
    margin: 0;
}

.mobile-hr .task>div {
    padding: 0;
}

.mobile-hr .problem {
    background: #f0f0f0;
    margin: 30px 0;
    font-size: 30px;
    padding: 70px;
    font-family: tinos-italic;
    color: #616161;
}

.mobile-hr .problem b {
    font-family: tinos;
    color: #393939;
}

.mobile-hr .task .solving {
    background: url('../img/hr.jpg') no-repeat no-repeat;
    background-size: cover;
    color: white;
    padding: 70px;
    box-shadow: 0 0 20px #bbb;
}

.mobile-hr .task .solving h2 {
    font-size: 50px;
    font-weight: 700;
}

.mobile-hr .task .solving p {
    font-size: 30px;
    font-weight: 700;
}

.mobile-hr .steps {
    text-align: center;
    color: #666666;
    font-size: 28px;
    padding: 70px 30px;
}

@media (max-width: 1201px) {
    .mobile-hr .steps {
        padding: 70px 0;
    }
}

.mobile-hr .steps img {
    margin: 0 5px;
}

@media (max-width: 1201px) {
    .mobile-hr .steps img:not(.arrow) {
        width: 50px;
    }
}

.mobile-hr .steps p {
    font-family: tinos-italic;
    padding-top: 20px;
}

.mobile-hr .fast-notify {
    background: #f0f0f0;
    text-align: center;
    padding-bottom: 100px;
}

.mobile-hr .fast-notify h2 {
    color: black;
    font-weight: 700;
    padding: 50px 0 70px;
    line-height: 1.5;
}

@media (max-width: 1201px) {
    .mobile-hr .fast-notify h2 {
        font-size: 25px;
    }
}

.mobile-hr .fast-notify .container {
    padding: 0 210px;
}

.mobile-hr .fast-notify .col-md-4 {
    color: #0084ce;
    font-family: tinos-italic;
    font-size: 28px;
}

@media (max-width: 1201px) {
    .mobile-hr .fast-notify .col-md-4 {
        font-size: 20px;
    }
}

.mobile-hr .fast-notify .col-md-4 img {
    width: 90px;
    margin-bottom: 15px;
    margin-bottom: 15px;
}

.mobile-hr .install-app {
    background: url('../img/app-bg.jpg') no-repeat no-repeat;
    background-size: cover;
    color: white;
    padding: 30px 50px 50px;
}

@media (max-width: 1201px) {
    .mobile-hr .install-app {
        padding: 0;
    }
}

.mobile-hr .install-app h1 {
    font-weight: 700;
    margin-bottom: 40px;
    font-size: 36px;
}

@media (max-width: 1201px) {
    .mobile-hr .install-app h1 {
        font-size: 34px;
    }
}

.mobile-hr .install-app a img {
    width: 180px;
}

.mobile-hr .install-app a:first-child img {
    margin-right: 80px;
}

@media (max-width: 1201px) {
    .mobile-hr .install-app a:first-child img {
        margin-right: 56px;
    }
}

.mobile-hr .install-app .col-lg-5 {
    position: relative;
}

.mobile-hr .install-app .col-lg-5 img {
    position: absolute;
    width: 100%;
    top: -100px;
}

.mobile-hr .space-wrap {
    height: 160px;
}

.contacts {
    background: #2e2e2e;
    padding: 30px 35px 10px;
}

.contacts .details {
    background: white;
    padding: 70px 0 30px;
    color: #888;
    font-size: 16px;
}

@media (min-width: 992px) {
    .contacts .details .container {
        width: 900px;
    }
}

@media (min-width: 1200px) {
    .contacts .details .container {
        width: 1100px;
    }
}

.contacts .details .partner {
    text-align: center;
    width: 80%;
    color: white;
    top: -130px;
    position: absolute;
    padding: 40px 30px;
    background: #0084ce; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#1092de, #2478c0, #1092de); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#1092de, #2478c0, #1092de); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#1092de, #2478c0, #1092de); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#1092de, #2478c0, #1092de);
}

.contacts .details .partner h2 {
    font-size: 40px;
    margin-bottom: 15px;
}

.contacts .details .partner h4 {
    font-size: 23px;
    line-height: 1.7;
}

.contacts .details a {
    color: #888;
    cursor: pointer;
    font-size: 16px;
}

.contacts .details a:hover, .contacts .details a:focus {
    text-decoration: none;
}

.contacts .details img {
    margin-bottom: 20px;
}

.contacts .map {
    margin-top: 50px;
}

.contacts .copy {
    color: #bbb;
    text-align: center;
    margin-top: 10px;
}